@using Microsoft.AspNetCore.Identity
@using System.Globalization
@model EPES.ViewModels.ResultViewModel
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "ตรวจสอบและยืนยัน";
    var user = await UserManager.GetUserAsync(User);
    ScoreDraft sd = null;
    DataForEvaluation de = null;
}

<link href="~/css/devextreme/dx.common.css" rel="stylesheet" />
<link href="~/css/devextreme/dx.light.css" rel="stylesheet" />
<script src="~/js/devextreme/jquery.js"></script>
<script src="~/js/devextreme/cldr.js"></script>
<script src="~/js/devextreme/cldr/event.js"></script>
<script src="~/js/devextreme/cldr/supplemental.js"></script>
<script src="~/js/devextreme/cldr/unresolved.js"></script>
<script src="~/js/devextreme/globalize.js"></script>
<script src="~/js/devextreme/globalize/message.js"></script>
<script src="~/js/devextreme/globalize/number.js"></script>
<script src="~/js/devextreme/globalize/currency.js"></script>
<script src="~/js/devextreme/globalize/date.js"></script>
<!-- Uncomment to enable the client-side export feature -->
<!-- script src="~/js/devextreme/jszip.js"></script -->
<!-- Uncomment to provide geo-data for the VectorMap control -->
<!-- script src="~/js/devextreme/vectormap-data/world.js"></script -->
<script src="~/js/devextreme/dx.all.js"></script>
<script src="~/js/devextreme/aspnet/dx.aspnet.mvc.js"></script>
<script src="~/js/devextreme/aspnet/dx.aspnet.data.js"></script>

<div class="container-fluid">
    <h1 class="h3 mb-2 text-gray-800">รายงานผลการปฏิบัติราชการ @user.OfficeName</h1>
</div>

@section Scripts {
    <partial name="_dataTableScript_Audit" />
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}