@using Microsoft.AspNetCore.Identity

@inject UserManager<ApplicationUser> UserManager

@{
    var user = await UserManager.GetUserAsync(User);
}

    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion toggled" id="accordionSidebar">
        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="~/Home">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fab fa-edge"></i>
            </div>
            <div class="sidebar-brand-text mx-3">PES</div>
        </a>
        <!-- Divider -->
        <hr class="sidebar-divider my-0">
        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" href="~/Home">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>ภาพรวม</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">
        <!-- Heading -->
        <div class="sidebar-heading">
            การปฏิบัติราชการ
        </div>
        <!-- Nav Item - Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseEdit" aria-expanded="true" aria-controls="collapseEdit">
                <i class="fas fa-fw fa-edit"></i>
                <span>บันทึก</span>
            </a>
            <div id="collapseEdit" class="collapse" aria-labelledby="headingEdit" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">รายเดือน:</h6>
                    <a class="collapse-item" asp-area="" asp-controller="Results" asp-action="IndexMonth">บันทึกผลปฏิบัติราชการ</a>
                    <a class="collapse-item" asp-area="" asp-controller="Audit" asp-action="Index">ตรวจสอบ/ยืนยัน</a>
                </div>
            </div>
        </li>
        <!-- Nav Item - Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseReport" aria-expanded="true" aria-controls="collapseReport">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>รายงาน</span>
            </a>
            <div id="collapseReport" class="collapse" aria-labelledby="headingReport" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">ผลการปฏิบัติงาน:</h6>
                    @if (User.IsInRole("Admin") || (User.IsInRole("Manager") && (user.OfficeId == "00013000" || (user.OfficeId.Substring(0, 4) == "0002") && user.OfficeId != "00026000")) || User.IsInRole("Special"))
                    {
                        <a class="collapse-item" asp-area="" asp-controller="Reports" asp-action="AllScore">กรมสรรพากร</a>
                        <a class="collapse-item" asp-area="" asp-controller="Reports" asp-action="HQScore">กอง สำนัก ศูนย์</a>
                        <a class="collapse-item" asp-area="" asp-controller="Reports" asp-action="PAKScore">สภ.1 - 12</a>
                        <a class="collapse-item" asp-area="" asp-controller="Reports" asp-action="BKKScore">สท.กทม.1 - 30 (30 สท.)</a>
                        <a class="collapse-item" asp-area="" asp-controller="Reports" asp-action="NBKKScore">สท.ต่างจังหวัด (89 สท.)</a>
                        <a class="collapse-item" asp-area="" asp-controller="Reports" asp-action="STScore">สท.ทั่วประเทศ (119 สท.)</a>
                    }
                    @if (user.OfficeId != "00000000")
                    {
                        <a class="collapse-item" asp-area="" asp-controller="Reports" asp-action="OwnerScoreReport">@user.OfficeName</a>
                    }
                    @if (User.IsInRole("Admin") ||
                    (User.IsInRole("Special") && user.OfficeId.Substring(0, 2) == "00") ||
                    (User.IsInRole("Manager") && (
                        (user.OfficeId.Substring(0, 2) != "00" && user.OfficeId.Substring(2, 6) == "000000") ||
                        user.OfficeId == "00013000" || user.OfficeId == "00010000" || user.OfficeId == "00011000" || user.OfficeId == "00014000" || user.OfficeId == "00006000" || user.OfficeId == "00005000"
                    )))
                    {
                        <h6 class="collapse-header">รายงานใหม่ปี 2565: </h6>
                        <a class="collapse-item" asp-area="" asp-controller="Reports" asp-action="GetPakPlanB">ค่าคะแนนตัวชี้วัด Topdown B</a>
                    }

                    @if (User.IsInRole("Admin") ||
                    (User.IsInRole("Special") && user.OfficeId.Substring(0, 2) == "00") ||
                    (User.IsInRole("Manager") && (
                        (user.OfficeId.Substring(0, 2) == "00")
                    )))
                    {
                        <h6 class="collapse-header">รายงานใหม่ปี 2565: </h6>
                        <a class="collapse-item" asp-area="" asp-controller="Reports" asp-action="CentralTarget">ผลการดำเนินงานตามแผนของส่วนกลาง</a>
                    }
                </div>
            </div>
        </li>
        <!-- Nav Item - Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseBasic" aria-expanded="true" aria-controls="collapseBasic">
                <i class="fas fa-fw fa-cog"></i>
                <span>ข้อมูลพื้นฐาน</span>
            </a>
            <div id="collapseBasic" class="collapse" aria-labelledby="headingBasic" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">จัดการข้อมูลพื้นฐาน:</h6>
                    <a class="collapse-item" asp-area="" asp-controller="PointOfEvaluations" asp-action="Index">แผนปฏิบัติราชการ</a>
                    @*<a class="collapse-item" asp-area="" asp-controller="DataForEvaluations" asp-action="Index">เป้าหมาย/ประมาณการ</a>*@
                </div>
            </div>
        </li>
        <!-- Nav Item - Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseDoc" aria-expanded="true" aria-controls="collapseDoc">
                <i class="fas fa-fw fa-book"></i>
                <span>คู่มือ</span>
            </a>
            <div id="collapseDoc" class="collapse" aria-labelledby="headingReport" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">คู่มือการใช้งานระบบ:</h6>
                    <a class="collapse-item" href="/EPES/docs/EPES-Document.pdf">คู่มือผู้ใช้งาน</a>
                    <a class="collapse-item" href="/EPES/docs/EPES-Point2564.pdf">คำอธิบายตัวชี้วัด 2564</a>
                </div>
            </div>
        </li>

        <!-- Nav Item - Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTools" aria-expanded="true" aria-controls="collapseTools">
                <i class="fas fa-fw fa-wrench"></i>
                <span>เครื่องมือ</span>
            </a>
            <div id="collapseTools" class="collapse" aria-labelledby="headingReport" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Download:</h6>
                    <a class="collapse-item" href="/sw/index.html">Internet Explorer 11</a>
                </div>
            </div>
        </li>

        @if (User.IsInRole("Admin"))
        {
            <!-- Divider -->
            <hr class="sidebar-divider">
            <!-- Heading -->
            <div class="sidebar-heading">
                ผู้ดูแลระบบ
            </div>
            <!-- Nav Item - Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUSer" aria-expanded="true" aria-controls="collapseUSer">
                    <i class="fas fa-fw fa-user"></i>
                    <span>สำหรับผู้ดูแลระบบ</span>
                </a>
                <div id="collapseUSer" class="collapse" aria-labelledby="headingUSer" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <div class="collapse-divider"></div>
                        <h6 class="collapse-header">พิเศษ: </h6>
                        <h6 class="collapse-header">เชื่อมโยงข้อมูลอัตโนมัติ: </h6>

                        <h6 class="collapse-header text-primary"><small>[API]</small></h6>
                        <a class="collapse-item" asp-area="" asp-controller="AutoApp" asp-action="Index" onclick="showLoader(this);">#1 เชื่อมโยงข้อมูลผลจัดเก็บภาษี (ภญ/สภ./สท.)</a>
                        <a class="collapse-item" asp-area="" asp-controller="AutoApp" asp-action="GetCanvass56_1" onclick="showLoader(this);">#2 เชื่อมโยงข้อมูลผู้เสียภาษีรายใหม่</a>
                        <a class="collapse-item" asp-area="" asp-controller="AutoApp" asp-action="GetCanvass56_2" onclick="showLoader(this);">#3 เชื่อมโยงข้อมูลผู้เสียภาษีรายใหม่ที่ชำระภาษี</a>
                        <a class="collapse-item" asp-area="" asp-controller="AutoApp" asp-action="GetTax100" onclick="showLoader(this);">#6 เชื่อมโยงข้อมูลผู้ประกอบการรายใหญ่ในท้องที่</a>

                        <h6 class="collapse-item text-primary"><small>[มจ.]</small></h6>
                        <a class="collapse-item" asp-area="" asp-controller="AutoApp" asp-action="GetP5" onclick="showLoader(this);">#5 เชื่อมโยงข้อมูลร้อยละของการบริหารการคืนภาษี</a>
                        <a class="collapse-item" asp-area="" asp-controller="AutoApp" asp-action="GetP9" onclick="showLoader(this);">#9 เชื่อมโยงข้อมูลเร่งรัดหนี้บนระบบ DMS</a>
                        <a class="collapse-item" asp-area="" asp-controller="AutoApp" asp-action="GetP10" onclick="showLoader(this);">#10 เชื่อมโยงข้อมูลจำหน่ายหนี้บนระบบ DMS</a>

                        <h6 class="collapse-item text-primary"><small>[บอ.]</small></h6>
                        <a class="collapse-item" asp-area="" asp-controller="AutoApp" asp-action="GetP7" onclick="showLoader(this);">#7 เชื่อมโยงข้อมูลจำนวนแบบฯ ที่ยื่นผ่านอินเทอร์เน็ต ยกเว้น ภ.ง.ด.90,91,94</a>
                        <a class="collapse-item" asp-area="" asp-controller="AutoApp" asp-action="GetP8" onclick="showLoader(this);">#8 เชื่อมโยงข้อมูลจำนวนแบบฯ ภ.ง.ด.1 ภ.พ.30 และ ภ.ง.ด.50 ที่ยื่นผ่านอินเทอร์เน็ต</a>
                        <!--<a class="collapse-item" asp-area="" asp-controller="AutoApp" asp-action="GetP8_10" onclick="showLoader(this);">เชื่อมโยงข้อมูลเร่งรัดหนี้ จำหน่ายหนี้ และใบแจ้งภาษีอากรบนระบบ DMS</a>-->

                        <h6 class="collapse-item text-primary"><small>[มก.]</small></h6>
                        <a class="collapse-item" asp-area="" asp-controller="AutoApp" asp-action="GetMorgor" onclick="showLoader(this);">#13 - #19 เชื่อมโยงข้อมูล มก.</a>

                        <h6 class="collapse-item text-primary"><small>[บร.]</small></h6>
                        <a class="collapse-item" asp-area="" asp-controller="AutoApp" asp-action="GetP20" onclick="showLoader(this);">#20 เชื่อมโยงข้อมูลข้อมูลการเบิกจ่ายงบประมาณ</a>
                        <div class="collapse-divider"></div>

                        <h6 class="collapse-item text-primary"><small>[สน.]</small></h6>
                        <a class="collapse-item" asp-area="" asp-controller="AutoApp" asp-action="GetP21" onclick="showLoader(this);">#21 เชื่อมโยงข้อมูลงานค้างหนังสือร้องเรียนแหล่งภาษี</a>
                        <div class="collapse-divider"></div>

                        <h6 class="collapse-header">คัดลอกตัวชี้วัด: </h6>
                        <a class="collapse-item text-danger" asp-area="" asp-controller="PointOfEvaluations" asp-action="CopyAllPak1toPak" onclick="showLoader(this);">คัดลอกตัวชี้วัดทั้งหมด สภ.1 -> สภ.</a>
                        <a class="collapse-item text-danger" asp-area="" asp-controller="PointOfEvaluations" asp-action="CopyDPak1toHQ" onclick="showLoader(this);">คัดลอก D สภ.1 -> ส่วนกลาง</a>
                        <a class="collapse-item text-danger" asp-area="" asp-controller="PointOfEvaluations" asp-action="CopyBDPak1toST1" onclick="showLoader(this);">คัดลอก B D สภ.1 -> สท.1</a>
                        <a class="collapse-item text-danger" asp-area="" asp-controller="PointOfEvaluations" asp-action="CopyST1toST" onclick="showLoader(this);">คัดลอก สท.1 -> สท.ทั่วประเทศ</a>
                    </div>
                </div>
            </li>
        }
        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">
        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
    </ul>